/*Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Staatliches&display=swap');

/* Main styles */
body {
    background: url('../images/pexels-hristo-fidanov-1252890.jpg') no-repeat;
    height: 100%;
}

header {
    display: grid;
    grid-template-columns: 25%;
    grid-template-rows: auto;
}

h1 {
    clear: both;
    grid-column-start: 2;
    color: aqua;
    font-family: 'Staatliches', cursive;
    font-size: 10vw;
    text-align: center;
    margin: 0;
}

a {
    grid-column-start: 3;
    color: aqua;
    font-family: 'Kanit', sans-serif;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    align-self: center;
}

#game-area {
    background-color: black;
    margin: 50%;
    height: auto;
    width: 50%;
}

/* Popup */
.popup {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
/* Popup Content */
.popup-content {
    background-color: #3d3c3c;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Kanit', sans-serif;
    color: aqua;
}
  
/* The Close Button */
.close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}