/*Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Staatliches&display=swap');

/* Main styles */
body {
    background: url('../images/pexels-hristo-fidanov-1252890.jpg') no-repeat;
    height: 100%;
}

header, nav {
    display: contents;
}

#main-layout {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

#title {
    grid-column-start: 2;
    grid-row-start: 1;
    justify-self: center;
    align-self: center;
}

#ship-left {
    grid-column-start: 1;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    width: 12vw;
    height: auto;
}

#ship-right {
    grid-column-start: 3;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
    width: 12vw;
    height: auto;
}

#play {
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
    align-self: center;
}

#show {
    background: transparent;
    border: none;
    padding: 0;
    margin: auto;
    grid-row-start: 2;
    grid-column-start: 2;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    clear: both;
    color: aqua;
    font-family: 'Staatliches', cursive;
    font-size: 10vw;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

ul {
    clear: both;
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#play a {
    display: block;
    clear: both;
    color: aqua;
    font-family: 'Kanit', sans-serif;
    font-size: 4vw;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

#cadius-miner {
    text-align: center;
}

#how-to-play {
    color: aqua;
}

canvas {
    border: 1px solid white;  
}

.how-to-play {
    width: 100%;
    margin: auto;
    color: aqua;
    text-align: center;
    background-color: rgb(24, 23, 23);
    border: 1px solid white;
    border-radius: 5px;
    grid-column-start: 2;
}

.show, .play {
    clear: both;
    color: aqua;
    font-family: 'Staatliches', cursive;
    font-size: 7vw;
    text-align: center;
    margin: 0;
}

.show:hover {
    color: red;
    transition: all 0.2s ease-in-out;
}

.play:hover {
    color: red;
    transition: all 0.2s ease-in-out;
}