/*Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Staatliches&display=swap');

/* Main styles */
body {
    background: url('../images/pexels-hristo-fidanov-1252890.jpg') no-repeat;
    height: 100%;
}

h1 {
    clear: both;
    color: aqua;
    font-family: 'Staatliches', cursive;
    font-size: 10vw;
    text-align: center;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h2 {
    clear: both;
    color: aqua;
    font-family: 'Staatliches', cursive;
    font-size: 7vw;
    text-align: center;
    margin: 0;
}

#play a {
    display: block;
    clear: both;
    color: aqua;
    font-family: 'Kanit', sans-serif;
    font-size: 4vw;
    text-align: center;
    margin: 0;
    text-decoration: none;
}

#cadius-miner {
    text-align: center;
}

#how-to-play {
    color: aqua;
}

canvas {
    border: 1px solid white;  
}

.how-to-play {
    width: 50%;
    margin: auto;
    color: aqua;
    text-align: center;
    background-color: rgb(24, 23, 23);
    border: 1px solid white;
    border-radius: 5px;
}